{% block damax_media_widget %}
{% spaceless %}
    <div id="{{ id }}" class="row">
        {% if multiple %}
            {% for media in data %}
                {{ block('damax_media_item') }}
            {% endfor %}
        {% elseif data %}
            {% set media = data %}
            {{ block('damax_media_item') }}
        {% endif %}

        <div id="{{ id }}-new" class="col-md-3 col-sm-6" {% if not multiple and data %}style="display: none;"{% endif %}>
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ 'media.header.add' | trans({}, 'damax-media') }}</h5>
                    <p class="card-text">{{ 'file.max_size' | trans({ '%size%': type.maxFileSize | media_file_size }, 'damax-media') }}</p>
                    <a class="card-link" href="#{{ id }}-upload" data-toggle="modal">{{ 'button.browse' | trans({}, 'damax-media') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div id="{{ id }}-upload" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'media.header.add' | trans({}, 'damax-media') }}</h5>

                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input class="form-control-file media-file" type="file">
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary media-upload" type="button">{{ 'button.upload' | trans({}, 'damax-media') }}</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">{{ 'button.cancel' | trans({}, 'damax-media') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block damax_media_item %}
{% spaceless %}
    <div class="col-md-3 col-sm-6">
        <div class="card media-item">
            {% if media.info.image %}
                <img class="card-img-top" src="{{ media_image_url(media.id, image_params) }}" alt="">
            {% endif %}

            <div class="card-body">
                <p class="card-text">{{ media.name }}</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ media.info.mimeType }}</li>
                <li class="list-group-item">{{ media.info.size | media_file_size }}</li>
            </ul>

            <div class="card-body">
                <a class="card-link" href="{{ path('media_download', { id: media.id }) }}">{{ 'button.download' | trans({}, 'damax-media') }}</a>
                <a class="card-link text-danger float-right media-delete" href="{{ path('media_delete', { id: media.id }) }}">{{ 'button.delete' | trans({}, 'damax-media') }}</a>
            </div>

            {% if multiple %}
                <input type="hidden" name="{{ full_name }}[]" value="{{ media.id }}">
            {% else %}
                <input type="hidden" name="{{ full_name }}" value="{{ media.id }}">
            {% endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock %}
